$navy-darker:    #162955;
$navy:           #0E5187;

$green-darker:   #208294;
$green:          #4EC1B1;
$green-lighter:  #94E5AB;

$blue-gray-darker:  rgb(62, 77, 112);
$blue-gray:         #4F628E;
$blue-gray-lighter: #7887AB;

$gray-xdarker: #454545;
$gray-darker:  #6E6E6E;
$gray:         #a2a9af;
$gray-lighter: #dadada;

$white: #fff7f7;
