/*
 *= require_tree .
 *= require material_icons
 *= require_self
*/
@import 'materialize/components/color-variables';
$primary-color: #061539 !default;
$secondary-color: #208294 !default;
@import 'materialize';

@import 'shared/colors';

html {
  color: white;

  body {
    background-color: #7887AB;
  }
}
